#projetos {
  padding-top: 30px;
  height: 100vh;
  width: 80%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

#projetos h3 {
  font-size: 3.2vh;
}

.projetosHeader {
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
}

.projetosHeader p {
  font-size: 1.8vh;
}

.nav {
  padding: 10px 20px;
  background-color: #dee2e6;
  border-radius: 10px;
  box-shadow: rgb(47 122 249 / 10%) 4px 0px 10px;
}

.carouselProjeto {
  width: 100%;
  height: 50vh;
  display:flex;
  flex-direction: row;
}

.carouselProjetoImage {
  display:flex;
  align-items: center;
}

.carouselProjetoImage img {
  border-radius: 10px;
  display:flex;
  align-items: center;
}

.carouselProjetoDescription {
  display:flex;
  flex-direction: column;
}

.carouselProjetoDescriptionDivA {
  display:flex;
  justify-content: space-evenly;
}

.carouselProjetoDescriptionDivA a {
  text-decoration: none;
  color: #c7cbcf;
  background-color: #11253D;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 1.8vh;
}

.carouselProjetoDescriptionDivA a:hover{
  cursor: pointer;
  color: #62C975;
  background-color: #11253D;
  transition: transform 0.5s ease-in;
  transition: all 300ms ease-in 0s;
  font-size: 2.0vh;
  border-radius: 10px;
}

.carouselProjetoDescriptionDivPUL {
  padding-top: 10px;
  padding-left: 20px;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.carouselProjetoDescriptionDivPUL h5 {
  padding-top: 15px;
  font-size: 1.8vh;
}

.carouselProjetoDescriptionDivPUL li {
  list-style-type: none;
}

.swiper-pagination-bullet {
  height: 13px !important;
  width: 13px !important;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2.5px solid #11253D !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 35px;
  border-radius: 14px;
}
.swiper-pagination-bullet-active,
.swiper-pagination-bullet-active:hover {
  background: #62C975 !important;
}

#projetos section {
  padding-bottom: 50px;
}